[mysqld]
binlog_format=ROW
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
innodb_flush_log_at_trx_commit=0
bind_address=0.0.0.0

[galera]
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_name=lab-galera
wsrep_cluster_address=gcomm://galera-1,galera-2,galera-3
wsrep_sst_method=rsync
wsrep_node_address=galera-1
wsrep_node_name=galera-1
wsrep_node_address=galera-3
wsrep_node_name=galera-3
wsrep_node_address=galera-2
wsrep_node_name=galera-2
wsrep_node_address=galera-3
wsrep_node_name=galera-3
wsrep_node_address=galera-3
wsrep_node_name=galera-3
wsrep_node_address=galera-2
wsrep_node_name=galera-2
wsrep_node_address=galera-1
wsrep_node_name=galera-1
wsrep_node_address=galera-2
wsrep_node_name=galera-2
wsrep_node_address=galera-3
wsrep_node_name=galera-3
wsrep_node_address=galera-2
wsrep_node_name=galera-2
wsrep_node_address=galera-3
wsrep_node_name=galera-3
