[defaults]
inventory = inventory.ini
remote_user = root
host_key_checking = False
stdout_callback = yaml
private_key_file = ~/.ssh/ansible_lab
interpreter_python = /usr/bin/python3.10
roles_path = ./roles

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no
pipelining = True